./examples/
./documentation_*
./src/app/workspace/testing/
./src/app/workspace/ACMT
./src/app/workspace/external_data
./src/app/workspace/ACMT/

./documentation_development.md
./documentation_from_docker_to_network.md

# added for v0.0.3
./src/app/workspace/tests/development_tests.md
./src/app/workspace/external_data/downloaded_food_access.xlsx
./src/app/workspace/external_data/processed_food_access.csv
*documentation*
